@charset "utf-8";
* { margin: 0; padding: 0; box-sizing: border-box; }
#wrap { display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-evenly;
        width: 100%; height: 100vh;
        padding: 20px;
        border: 10px solid #000; }
#wrap > div { width: 32%; height: 45%;
              border: 5px solid #f00; }
#wrap > div:nth-child(4n) { width: 48.5%; }
#wrap > div:nth-child(5n) { width: 48.5%; }
