@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* 초기화 */
body, h1, h2, h3, ul{margin: 0; padding: 0; }
ul, li{list-style: none;}
.hidden{position: absolute; left: -9999px;}
a{text-decoration: none; color:#000;}
/* 웹폰트 */
body{ position: relative; min-width: 1000px;font-family: 'Noto Sans KR',sans-serif;}
/* 헤더 */
#headerWrap{position: absolute;top:0;left:0;
            width: 100%;height: 130px; overflow: hidden;
            border-bottom: 1px solid #000; transition: 0.5s;}
#headerWrap:hover{height: 371px;}
#headerWrap::before{content: ""; position: absolute; top: 0; left: 0; 
                    width: 100%; height: 40px; background: rgb(176, 176, 176);}
#headerWrap:hover:after{content: "";position: absolute; top: 130px; left: 0;
                        width: 100%;height: 240px;background: #fff;
                        border-top: 1px solid #000;}
#header{position:relative; width: 1000px; z-index: 1;
        margin: 0 auto; 
        padding-top: 40px;
        display: flex; justify-content: space-between;}
#header h1{width: 154px;padding: 30px 0 0 0;}
#header h1 a{display: block; height: 31px;text-indent: -5000px;
            background: url(../images/logo.png) no-repeat;}
/* lnb */
#lnb{position: absolute; top:0; right: 0;}
#lnbList{height:40px; display: flex; align-items: center;}
#lnbList li{margin-right:10px;}
#lnbList li a{}
/* gnb */
#gnb{}
#gnbList{display: flex; margin-top: 30px;}
#gnbList > li{margin: 0 20px;}
#gnbList > li > a{display: block;height: 60px; font-size: 20px;}
/* snb */
.snb{padding: 30px 0;}
.snb li{line-height: 50px;}
.snb li a:hover{color:#f00;}
/* 섹션 */
#contentWrap{overflow: hidden;}
section{width: 1500px;height: 500px;
        background:#f7acb1;margin: 130px auto;}