@charset "utf-8";
/* 초기화 */
* { box-sizing: border-box; }
body, h1, ul { margin: 0; padding: 0; }
li { list-style: none; }
a { text-decoration: none; }
/* 헤더 */
#header { position: absolute; z-index: 999; width: 100%; height: 80px;
        display: flex; justify-content: center;
        background: #000; }
#header h1 { position: absolute; top: 20px; left: 20px; color: #fff;  }
/* 네비 */
#gnbList { display: flex; padding-top: 35px; }
#gnbList > li { text-align: center; }
#gnbList > li > a { display: block; width: 170px; height: 45px; 
                    font-size: 18px;
                    color: rgb(116, 114, 114); }
/* snb */
.snb { padding: 10px 0; background: #fff; 
        display: none; 
    }
.snb li { line-height: 50px; }
.snb li a { color: #000; }
/* 비디오 */
#videoWrap { overflow: hidden; position: relative; width: 100%; height: 100vh; }
#videoWrap video { position: absolute; 
                top: 0; 
                left: 50%;
                /* margin-left: -960px; */
                transform: translateX(-50%);
                min-width: 1920px;
                min-height: 100%;  
            }